# ignore include folders
/.vscode/*
/resources/displays
/resources/gameClients
/resources/serverIcons
/resources/siteSources
/resources/beianIcon.png
/phpError/*
/fileBackup/*

# ignore include files

# ignore exclude

# include specific files