/* 值排列顺序：背景，长宽高，字体，自身（行内距等），位置 */

body {
    margin: 0px; /* 取消浏览器与页面边距 */
    padding: 0px;
}

/* 页眉样式 header*/

#header,#headerContent,.headerContentBox {
    background-color: black;
}

#header {
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0px;
    z-index: 999;
}

#headerContent {
    width: 90%;
    margin-left: 5%;
}

.headerContentBox {
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

#a {
    font-size: 30px;
    user-select: none;
    float: left;
}

#b,#c,#d,#e,#f,#g {
    float: right;
    margin-right: 5%;
    margin-top: 6px;
}

/* 页眉超链接样式 */

.headerContentBox a {
    color: azure;
    text-decoration: none;
}

.headerContentBox {
    border-bottom: 1px black solid;
}

.headerContentBox:hover {
    border-bottom: 1px greenyellow solid;
}

/* 图片栏样式 picshow */

#picshow {
    width: 100%;
    background-color: black;
    position: relative;
}

#picshowPic {
    width: 100%;
    opacity: 0.6;
    position: absolute;
    z-index: 0;
}

#picshowText {
    width: 80%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    user-select: none;
    color: azure;
    position: absolute;
    left: 10%;
    z-index: 1;
}

/* 正文内容样式 article*/

#article {
    width: 100%;
    background-color: white;
    background: url(/resources/siteSources/articleBac.jpg) repeat-x fixed top;
    position: relative;
    z-index: 10;
}

#articlePage {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.6);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    left: 5%;
}

/* 页脚样式 footer */

#footer {
    width: 100%;
    background-color: black;
    font-size: 12px;
    color: azure;
    background: url(/resources/siteSources/footer.png) repeat-y scroll top;
    text-align: center;
    position: relative;
}

/* 页脚超链接样式 */

#footer a {
    color: azure;
    text-decoration: none;
    border-bottom: 1px black solid;
}

#footer a:hover {
    border-bottom: 1px greenyellow solid;
}

/* 手机页眉导航样式 */

.nav {
    float: right;
    width: 20%;
    text-align: center;
    padding: 20px;
    color: white;
}

.nav div div{
    width: 100%;
    height: 320px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
}

.nav div div p {
    display: inline-block;
    margin: 20px 0 0 0;
    width: 100%;
    height: 10%;
}

.nav div div p a{
    display: inline-block;
    text-decoration: none;
    color: black;
    border-bottom: 1px black solid;
}

.nav div div p a:hover {
    border-bottom: 1px greenyellow solid;
}

.nav div div {
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: #fff;
    border-radius: 10px;
    transition: height 0.2s ,border 0.2s linear;
    -moz-transition:height 0.2s ,border 0.2s linear;
    /* Safari and Chrome */
    -webkit-transition:height 0.2s ,border 0.2s linear;
    /* Opera */
    -o-transition:height 0.2s ,border 0.2s linear;
}

.nav div:hover div {
    height: 320px;
    border: 3px solid greenyellow;
}

/* 其他 */

#picshow,#article,#footer {
    display: inline-block;
}