/* 页眉样式 PC端 手机端 宽度较窄 */

/****************************/
/* PC、宽度大 页眉样式 header*/
/****************************/

#header,#headerContent,.headerContentBox {
    background-color: black;
}

/* 页眉 */
#header {
    width: 100%;
    position: fixed;
    z-index: 999;
}

/* 页眉内容框 */
#headerContent {
    padding: 10px;
    width: 100%;
}

/* 各个导航内容框 */
.headerContentBox {
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
}

/* 导航内容框 网站首页 */
#a {
    margin-left: 3%;
    font-size: 30px;
    float: left;
}

/* 导航内容框 各界面跳转 */
#b,#c,#d,#e,#f,#g {
    float: right;
    margin-top: 6px;
    margin-right: 5%;
}

#g {
    margin-right: 3%;
}

/* 页眉超链接样式 */

.headerContentBox a {
    color: azure;
    text-decoration: none;
}

.headerContentBox {
    border-bottom: 1px black solid;
}

.headerContentBox:hover {
    border-bottom: 1px greenyellow solid;
}

/******************************/
/* 手机、宽度窄 页眉样式 header*/
/******************************/

.nav {
    position: fixed;
    text-align: right;
    font-size: 18px;
    margin: 0px;
    top: 16px;
    width: 100%;
    color: white;
    z-index: 3;
}

.nav div p {
    margin: 0px;
}

.nav div div{
    margin-top: 6px;
    right: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 320px;
    background-color: black;
    border: 3px solid rgba(22, 21, 21, 0.822);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

.nav div div {
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: height 0.2s ,border 0.2s linear;
    -moz-transition:height 0.2s ,border 0.2s linear;
    /* Safari and Chrome */
    -webkit-transition:height 0.2s ,border 0.2s linear;
    /* Opera */
    -o-transition:height 0.2s ,border 0.2s linear;
}

.nav div:hover div {
    height: 320px;
    border: 3px solid rgba(22, 21, 21, 0.822);
}

.nav div div p {
    text-align: center;
    display: inline-block;
    margin: 20px 0 0 0;
    width: 100%;
    height: 10%;
}

.nav div div p a{
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    color: white;
    border-bottom: 1px black solid;
}

.nav div div p a:hover {
    border-bottom: 1px greenyellow solid;
}